<a href="https://colab.research.google.com/github/mvenzi/python/blob/main/Aula_de_script_Python_NetAcad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nome = 'Pedro'
idade = 83

In [2]:
a = "c"
pri_nt="y"
memory1 = 0
while a !="y":
    number1=input("Enter your number:")
    #number1= float(number1)
    number1= int(number1)
    memory1= number1+number1
    pri_nt=input("do you want print?yes=>(x)/no :")
    if (pri_nt=="x"):
        break

print(f"the sum of the numbers so far:{memory1}")

Enter your number:12
do you want print?yes=>(x)/no :yes
Enter your number:12
do you want print?yes=>(x)/no :x
the sum of the numbers so far:24

In [3]:
print(f"Meu nome é {nome.upper()}")
print(f"Tenho {idade} anos")

Meu nome é PEDRO
Tenho 83 anos

In [4]:
if idade > 20:
    print(f"O usuário é velho já pode viajar sozinho pq tem {idade} anos")
else:
  print(f"O usuário é novo nao pode viajar pois ainda tem {idade} anos")

O usuário é velho já pode viajar sozinho pq tem 83 anos

In [ ]:
if idade <= 10:
  print('passagem gratis')
elif idade <= 40:
  print('passagem 75% de desconto')
elif idade <= 65:
  print('passagem sem desconto')
else:
  print('passagem com 25% de desconto')

passagem com 25% de desconto

In [ ]:
print(f"___CALCULADORA DO ANDRE___")
num1 = input('digite um numero - ')
num1 = int(num1)
num2 = input('digite outro numero - ')
num2 = int(num2)
total = num1 + num2
print(f"O total é {total}")

___CALCULADORA DO ANDRE___
digite um numero - 25
digite outro numero - 25
O total é 50

In [ ]:
#somar
arroz = 2
feijao = 4
total = arroz + feijao
print(total)

6

In [ ]:
num1 = input('Entre com o 1º valor: ')
num1 = int(num1)
num2 = input('Entre com o 2º valor: ')
num2 = int(num2)
soma = num1 + num2
soma = int(soma)
print(soma)

Entre com o 1º valor: 5
Entre com o 2º valor: 5
10

In [ ]:
name = input("Give me your name: ")
print("Your name is " + name)

Give me your name: Jonas
Your name is Jonas

In [5]:
for x in range(1, 5):
  print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64

In [6]:
x = input()
y = int(input())

print(x * y)

3
6
333333

In [7]:
1 // 2 * 3

0

In [8]:
x = 1
y = 2
z = x
x = y
y = z
y = print (x, y)

2 1

In [12]:
2 == 2.

True

In [13]:
1 == 2

False